<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
        {% endblock %}

        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/jquery-migrate-3.0.0.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}
        
        {% endblock %}
    </head>
    <body>

        <div class="row d-flex align-items-center">
            <div class="col-12">
                <h1 class="m-2"><img src="/img/TAV-LOGO-RVB_petit.jpg" id="logo" class="mr-5"/>Gestion des meules</h1>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block active %}{% endblock %} pr-3">
                        <a class="nav-link" href="{{ asset("/") }}">Accueil
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown pr-3">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stock Rectilignes/Bilatérales</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ asset('rectilignes') }}">Stock total</a>
                            {% for rectiligne in rectilignes %}
                            <a class="dropdown-item" href="{{ asset('rectiligne/' ~ rectiligne.name ) }}">{{'Rectilignes ' ~ rectiligne.name|capitalize }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown pr-3">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stock Centres d'usinage</a>
                        <div class="dropdown-menu">
                            {% for cu in cus %}
                            <a class="dropdown-item" href="{{ asset('cu/' ~ cu.name) }}">{{ 'CU ' ~ cu.name|capitalize }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item pr-3">
                        <a class="nav-link" href="#">Commandes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Modifier la Base de données</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ asset('/manage/rectiligne') }}">Gérer les rectilignes</a>
                            <a class="dropdown-item" href="{{ asset('/manage/moles-rectiligne') }}">Gérer les meules de rectiligne</a>
                            <a class="dropdown-item" href="{{ asset('/manage/cus') }}">Gérer les centres d'usinage</a>
                            <a class="dropdown-item" href="{{ asset('/manage/moles-cu') }}">Gérer les meules de centre d'usinage</a>
                            
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        
    </body>
</html>
