{% extends 'base.html.twig' %}

{% block title %}Stock Bilatérale{% endblock %}

{% block body %}
<div class="row">
    <h2 class="ml-5 mt-4">Stock Meules Bilatérale</h2>
</div>
<div class="stock-bilat">
    <div class="row text-center font-weight-bold border-top border-bottom pt-3 pb-3 head-table">
        <div class="col-1 border-right">Position</div>
        <div class="col-1">1</div>
        <div class="col-1">2</div>
        <div class="col-1">3</div>
        <div class="col-1">4 et 12</div>
        <div class="col-1">5 et 13</div>
        <div class="col-1">9</div>
        <div class="col-1">10</div>
        <div class="col-1">11</div>
        <div class="col-1">6</div>
        <div class="col-1">7</div>
        <div class="col-1">8</div>
    </div>
    <div class="row text-ccenter pt-3 pb-3 text-center">
        <div class="col-1 font-weight-bold border-right" class="">Type</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Boisseau</div>
        <div class="col-1">Périphérique</div>
        <div class="col-1">Périphérique</div>
        <div class="col-1">Périphérique</div>
    </div>
    <div class="row text-center pt-3 pb-3 text-center">
        <div class="col-1 font-weight-bold border-right" class="">Usinage</div>
        <div class="col-1">Talon</div>
        <div class="col-1">Talon</div>
        <div class="col-1">Talon</div>
        <div class="col-1">Arête</div>
        <div class="col-1">Arête</div>
        <div class="col-1">Talon</div>
        <div class="col-1">Talon</div>
        <div class="col-1">Talon</div>
        <div class="col-1">Joint complet</div>
        <div class="col-1">Joint complet</div>
        <div class="col-1">Joint complet</div>
    </div>
    <div class="row text-center pt-3 pb-3 text-center">
        <div class="col-1 font-weight-bold border-right" class="">Matière</div>
        <div class="col-1">Diamanté</div>
        <div class="col-1">Diamanté</div>
        <div class="col-1">Résine</div>
        <div class="col-1">Diamanté/Résine</div>
        <div class="col-1">Polissante</div>
        <div class="col-1">Polissante</div>
        <div class="col-1">Polissante</div>
        <div class="col-1">Cérium</div>
        <div class="col-1">Diamanté</div>
        <div class="col-1">Diamanté</div>
        <div class="col-1">Polissante</div>
    </div>
    <div class="interligne"></div>
</div>

<div class="stock-bilat">
    <div class="row text-center font-weight-bold border-top border-bottom pt-3 pb-3 body-table">
        <div class="col-1">Position</div>
        <div class="col-11">
            <div class="row">
                <div class="col-1">Fournisseur</div>
                <div class="col-1">Réfèrence</div>
                <div class="col-1">Désignation TAV</div>
                <div class="col-1">Grain</div>
                <div class="col-1">Diamètre</div>
                <div class="col-1">Hauteur</div>
                <div class="col-1">Stock</div>
                <div class="col-1">Actions</div>
            </div>
        </div>
    </div>
</div>

<div class="table table-hover table-fournisseur">
    
    <tbody>
{% for stockBilatParPosition in stockBilat %}
    <div class="row text-center">
        <div class="col-1">{{stockBilatParPosition[0].position[0]}}</div>
        <div class="col-11">
        {% set quantiteTotal = 0 %}
        {% for meule in stockBilatParPosition %}
            <div class="row">
                <div class="col-1">{{ meule.fournisseur.name }}</div>
                <div class="col-1">{{ meule.ref }}</div>
                <div class="col-1">{{ meule.designationTAV }}</div>
                <div class="col-1">{{ meule.grain }}</div>
                <div class="col-1">{{ meule.diametre }}</div>
                <div class="col-1">{{ meule.hauteur }}</div>
                <div class="col-1">{{ meule.stock }}</div>
                <div class="col-1"><a href="#">Modifier</a></div>
                {% set quantiteTotal = quantiteTotal + meule.stock %}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="row mb-3 text-center mt-3">
        <div class="col-1">Stock Mini</div>
        {% set stockMiniValue = 0 %}
        {% for stockMini in stockMiniTable %}
            
            {% if stockMini.name == stockBilatParPosition[0].position[0] %}
               {% set stockMiniValue = stockMini.stockMini %} 
            {% endif %}
        {% endfor %}
        <div class="col-1">{{ stockMiniValue }}</div>
    </div>
    <div class="row mb-3 text-center border-bottom">
        <div class="col-1">Stock Réel</div>
        <div class="col-1">{{ quantiteTotal }}</div>
    </div>
{% endfor %}
    </tbody>
</table>
{% endblock %}
