{% extends 'base.html.twig' %}

{% block title %}Stock Bilatérale{% endblock %}

{% block body %}
<div class="row">
    <h2 class="ml-5 mt-4">Stock Meules Bilatérale</h2>
</div>
<table class="table table-hover stock-bilat ">
    <div class="row text-center font-weight-bold border-top border-bottom pt-3 pb-3 head-table">
        <div class="col-1" class="">Position</div>
        <div class="col-1">1</div>
        <div class="col-1">2</div>
        <div class="col-1">3</div>
        <div class="col-1">4 et 12</div>
        <div class="col-1">5 et 13</div>
        <div class="col-1">9</div>
        <div class="col-1">10</div>
        <div class="col-1">11</div>
        <div class="col-1">6</div>
        <div class="col-1">7</div>
        <div class="col-1">8</div>
    </div>
    
    <tbody>
    
        <tr class="table-light">
            <th scope="col">Type</th>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Boisseau</td>
            <td class="text-center">Périphérique</td>
            <td class="text-center">Périphérique</td>
            <td class="text-center">Périphérique</td>
            
        </tr>
        
        <tr class="table-light">
            <th scope="col">Usinage</th>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Arête</td>
            <td class="text-center">Arête</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Talon</td>
            <td class="text-center">Joint complet</td>
            <td class="text-center">Joint complet</td>
            <td class="text-center">Joint complet</td>
        </tr>

        <tr class="table-light">
            <th scope="col">Matière</th>
            <td class="text-center">Diamanté</td>
            <td class="text-center">Diamanté</td>
            <td class="text-center">Résine</td>
            <td class="text-center">Diamanté/Résine</td>
            <td class="text-center">Polissante</td>
            <td class="text-center">Polissante</td>
            <td class="text-center">Polissante</td>
            <td class="text-center">Cérium</td>
            <td class="text-center">Diamanté</td>
            <td class="text-center">Diamanté</td>
            <td class="text-center">Polissante</td>
        </tr>

    </tbody>
</table>

 <div class="interligne"></div>


<table class="table table-hover table-fournisseur">
    <thead>
        <tr class="table-primary">
            <th scope="col" class="text-center">Position</th>
            <th scope="col" class="text-center">Fournisseur</th>
            <th scope="col" class="text-center">Rèférence</th>
            <th scope="col" class="text-center">Désignation TAV</th>
            <th scope="col" class="text-center">Grain</th>
            <th scope="col" class="text-center">Diamètre</th>
            <th scope="col" class="text-center">Hauteur</th>
            <th scope="col" class="text-center">Stock</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
{% for stockBilatParPosition in stockBilat %}
    <tr class="table-success">
    {% for meule in stockBilatParPosition %}
        
            <th scope="col" class="text-center">{{ meule.position[0] }}</th>
            <td class="text-center">{{ meule.fournisseur.name }}</td>
            <td class="text-center">{{ meule.ref }}</td>
            <td class="text-center">{{ meule.designationTAV }}</td>
            <td class="text-center">{{ meule.grain }}</td>
            <td class="text-center">{{ meule.diametre }}</td>
            <td class="text-center">{{ meule.hauteur }}</td>
            <td class="text-center">{{ meule.stock }}</td>
            <td class="text-center"><a href="#">Modifier</a></td>
        
    {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
