{% extends 'base.html.twig' %}

{% block title %}Modifier {{ cu.name }}{% endblock %}

{% block javascripts %}<script src="/js/ajax-update-typeMeule.js"></script>  {% endblock %}

{% block body %} 

<div class="interligne"></div>
<div class="row d-flex align-items-center">
    <div class="col-6">
        <h2 class="ml-4">Modifier le centre d'usinage : <span class="text-uppercase">{{ cu.name }}</span></h2>
    </div>
    <div class="col-6 text-right">
        <a href={{ asset('/manage/cus') }} class="btn btn-secondary mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
        </a>
    </div>
    <div class="row ml-4">
        <div class="col-12"><a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#rename-cu">Renommer le centre d'usinage</a></div>
        <!--Modal for rename cu-->
        <div class="modal" id="rename-cu" tabindex="-1" aria-hidden="true" role="dialog">      
            <div class="modal-dialog" role="document">
                <form method="post" action="{{ asset('manage/' ~ cu.name ~ '/change-name') }}">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Renommer le centre d'usinage</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <label for="newCuName" class="pr-2">Nouveau nom : </label>
                            <input type="text" name="newCuName" id="newCuName">
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Enregistrer</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End of Modal-->
    </div>
</div>

<hr>
<div class="interligne"></div>
<div class="row ml-4 font-weight-bold text-center">
    <div class="col-1"></div>
    <div class="col-11">
        <div class="row">
            <div class="col-2">Spécification</div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">Désignation TAV</div>
                    <div class="col-1">Matière</div>
                    <div class="col-1">Stock mini</div>
                    <div class="col-1">Modifier</div>
                    <div class="col-1">Supprimer</div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

{% for nameTypeMeule, typeMeule in typesMeule %}
<div class="row ml-4 text-center border-top">
    <div class="col-1 font-blue1 font-weight-bold d-flex align-items-center justify-content-center pt-2 pm-2">{{ nameTypeMeule }}</div>
    <div class="col-11">
        {% for nameTypical, typical in typeMeule %}
        <div class="row pt-2 pb-2 border-bottom ">
            <div class="col-2 border-right">{{ nameTypical }}</div>
            <div class="col-10">
                {% for oneTypeMeule in typical %}
                <div class="row pt-2 pb-2 ">
                    <div class="col-4">{{ oneTypeMeule.designationTAV }}</div>
                    <div class="col-1">{{ oneTypeMeule.matiere }}</div>
                    <div class="col-1">{{ oneTypeMeule.stockMini }}</div>
                    <div class="col-1">
                        <a href="#" data-toggle="modal" data-target="{{ '#update-typeMeule' ~ oneTypeMeule.id }}" id="{{ cu.name ~ '-type-meule-' ~ oneTypeMeule.id }}" class="edit-type-meule">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-1">
                        <a href={{ asset('/delete/' ~ cu.name ~ '/type-meule/' ~ oneTypeMeule.id) }}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25 " height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                
                <!--Modal for update typeMeule-->
                <div class="modal" id="{{ 'update-typeMeule' ~ oneTypeMeule.id }}" tabindex="-1" aria-hidden="true" role="dialog">      
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Modifier le type de meule</h5>
                            <button type="button" class="close update-typeMeule-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body form-typeMeule">
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--End of Modal-->
                {% endfor %}
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="interligne"></div>
{% endfor %}

{% endblock %}

