{% extends 'base.html.twig' %}

{% block title %}Modifier {{ machine.name }}{% endblock %}

{% block body %} 

<div class="interligne"></div>
<div class="row d-flex align-items-center">
    <div class="col-6">
        <h2 class="ml-4">Modifier la machine : <span class="text-uppercase">{{ machine.name }}</span></h2>
    </div>
    <div class="col-6 text-right">
        <a href={{ asset('/manage/rectiligne') }} class="btn btn-secondary mr-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg>
        </a>
    </div>
</div>

<hr>
<div class="interligne"></div>
    <div class="row ml-4 font-weight-bold">
        <div class="col-1">Position</div>
        <div class="col-1">Type</div>
        <div class="col-1">Usinage</div>
        <div class="col-1">Matière</div>
        <div class="col-1">Stock mini</div>
        <div class="col-2 text-center">Actions</div>
    </div>
    <hr>

    <!-- Form is render in a loop for display all positions of one machine-->
    {{ form_start(formMachine) }}
        {{ form_row(formMachine.name, {'attr': {'hidden': 'hidden'}, 'label': false }) }}
        {% for position in formMachine.positions %}
        <div class="row ml-4 d-flex align-items-center">
                <div class="col-1">
                    {{ form_row(position.name) }}
                </div>
                <div class="col-1">
                    {{ form_row(position.type) }}
                </div>
                <div class="col-1">
                    {{ form_row(position.usinage) }}
                </div>
                <div class="col-1">
                    {{ form_row(position.matiere) }}
                </div>
                <div class="col-1">
                    {{ form_row(position.stockMini) }}
                </div>
                <div class="col-1 text-center">
                    <button type="submit" class="btn btn-outline-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                          </svg>
                    </button>
                </div>
                <div class="col-1 text-center">

                    <a href={{ asset('/delete/' ~ machine.name ~ '/position/' ~ position.vars.value.id) }}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25 " height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                    </a>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    {{ form_end(formMachine) }}

    <h4 class="ml-4">Ajouter une position : </h4>
    <hr>
    <!--Form for add a new position-->
    {{ form_start(formPosition) }}
    <div class="row ml-4 d-flex align-items-center">   
        <div class="col-1">
            {{ form_row(formPosition.name) }}
        </div>
        <div class="col-1">
            {{ form_row(formPosition.type) }}
        </div>
        <div class="col-1">
            {{ form_row(formPosition.usinage) }}
        </div>
        <div class="col-1">
            {{ form_row(formPosition.matiere) }}
        </div>
        <div class="col-1">
            {{ form_row(formPosition.stockMini) }}
        </div>
        <div class="col-1 text-center">
            <button type="submit" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                  </svg>
            </button>
        </div>
        
    </div>   
    {{ form_end(formPosition) }}

{% endblock %}

