{% extends 'base.html.twig' %}

{% block title %}Ajouter/supprimer des meules{% endblock %}

{% block javascripts %}
<script src="../js/add-new-position.js"></script>
<script src="../js/delete-position.js"></script>
{% endblock %}

{% block body %}

<div class="interligne"></div>
<div class="row">
    
    <div class="col-12 mb-4 ml-4">
        {{ form_start(form) }}
            {{ form_label(form.name, 'Nom de la machine :') }}
            {{ form_widget(form.name, {'attr': {'class': 'machine-field' }}) }}

            <button type='button' class="btn btn-secondary add-new-position mt-5 mb-5" data-collection-holder-class="position-fields-list">Ajouter une position</button>
            
            <div class="position-fields-list row" data-prototype="{{ form_widget(form.position.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.position|length }}">
            {% for position in form.position %}
                <div>
                {% for field in position %}
                    <div>
                        {{ form_errors(field) }}
                        {{ form_widget(field) }}
                    </div>
                {% endfor %}
                <button type='button' class="btn btn-outline-warning delete-position mt-5 mb-5 ml-4" data-collection-holder-class="position-fields-list">Supprimer</button>
                </div>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mt-5">Ajouter la machine</button>
        {{ form_end(form) }}
    </div>
</div>
    
{% endblock %}

