{% extends 'base.html.twig' %}

{% block title %}Gérer les meules rectilignes{% endblock %}

{% block javascripts %}
    <script src="/js/ajax-list-position.js"></script>
{% endblock %}

{% block body %}

<div class="interligne"></div>
<h2 class="ml-4">Gérer les meules rectiligne</h2>
<hr>
<div class="interligne"></div>

<!-- The form for add a new mole in database -->
<div class="row">
    <div class="col-12 mb-4 ml-4">
        <h5 class="mb-3">Ajouter une meule :</h5>
        {{ form_start(formNewMeule) }}
        
        <div class="row" id="js-new-mole">
          <div class="col-1">{{ form_row(formNewMeule.fournisseur) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.ref) }}</div>
          <div class="col-2">{{ form_row(formNewMeule.designationTAV) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.grain) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.diametre) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.hauteur) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.stock) }}</div>
          <div class="col-1" id="machine">{{ form_row(formNewMeule.machine) }}</div>
          <div class="col-1" id="position">{{ form_row(formNewMeule.position) }}</div>
        </div>
           
        <button type="submit" class="btn btn-primary">Ajouter la meule</button>
        {{ form_end(formNewMeule) }} 
    </div>
</div>
<h4 class="ml-4 mb-3">Meules enregistrées:</h4>

<table class="table table-hover">
    <thead>
      <tr class="table-secondary text-center">
        <th scope="col"><a href="{{ asset('/manage/moles-rectiligne/fournisseur') }}" class="text-white">Fournisseur</a></th>
        <th scope="col">Réfèrence</th>
        <th scope="col">Désignation TAV</th>
        <th scope="col">Grain</th>
        <th scope="col">Diamètre</th>
        <th scope="col">Hauteur</th>
        <th scope="col">Stock</th>
        <th scope="col">Non Livrées</th>
        <th scope="col"><a href="{{ asset('/manage/moles-rectiligne/machine') }}" class="text-white">Machine</a></th>
        <th scope="col">Position</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for meule in meulesRecti %}
        <tr class="table-default text-center">
            <th scope="row">{{ meule.fournisseur.name }}</th>
            <td>{{ meule.ref }}</td>
            <td>{{ meule.designationTav }}</td>
            <td>{{ meule.grain }}</td>
            <td>{{ meule.diametre }}</td>
            <td>{{ meule.hauteur }}</td>
            <td>{{ meule.stock }}</td>
            <td>{{ meule.nonlivres }}</td>
            
            {% if meule.position != null and meule.position.machine != null %}
                <td class="text-uppercase">{{ meule.position.machine.name }}</td>
            {% else %}
                <td>NULL</td>           
            {% endif %}
            
            {% if meule.position != null and meule.position.machine != null %}
            <td>{{ meule.position.name }}</td>
            {% else %}
            <td>NULL</td>           
            {% endif %}

            <td>
                <a href="#" class="mr-4" data-toggle="modal" data-target="{{ "#modify-meule" ~ meule.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
                <a href="{{ asset('delete/' ~ meule.id) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25 " height="25" fill="" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
            </td>
        </tr>

        <!--Modal for edit button - form for change quantity-->
        <div class="modal" id="{{ "modify-meule" ~ meule.id }}" tabindex="-1" aria-hidden="true" role="dialog">      
            <div class="modal-dialog" role="document">
                {{ form_start(formNewMeule) }}
                    {{ form_row(formEditMeule.fournisseur) }}
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title">Modifier la meule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <input type="number" id="quantity" name="quantity">
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                {{ form_end(formNewMeule) }}
            </div>
        </div>
        <!--End of Modal-->
        
    {% endfor %}
    </tbody>
</table>
{% endblock %}

