{% extends 'base.html.twig' %}

{% block title %}Gérer les meules rectilignes{% endblock %}

{% block javascripts %}
    <script src="/js/ajax-list-position.js"></script>
{% endblock %}

{% block body %}

<div class="interligne"></div>
<h2 class="ml-4">Gérer les meules rectiligne</h2>
<hr>
<div class="interligne"></div>

<!-- The form for add a new mole in database -->
<div class="row">
    <div class="col-12 mb-4 ml-4">
        <h5 class="mb-3">Ajouter une meule :</h5>
        {{ form_start(formNewMeule) }}
        
        <div class="row" id="js-new-mole">
          <div class="col-1">{{ form_row(formNewMeule.fournisseur) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.ref) }}</div>
          <div class="col-2">{{ form_row(formNewMeule.designationTAV) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.grain) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.diametre) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.hauteur) }}</div>
          <div class="col-1">{{ form_row(formNewMeule.stock) }}</div>
          <div class="col-1" id="machine">{{ form_row(formNewMeule.machine) }}</div>
          <div class="col-1" id="position">{{ form_row(formNewMeule.position) }}</div>
        </div>
           
        <button type="submit" class="btn btn-primary">Ajouter la meule</button>
        {{ form_end(formNewMeule) }} 
    </div>
</div>
<h4 class="ml-4 mb-3">Meules enregistrées:</h4>

<table class="table table-hover">
    <thead>
      <tr class="table-secondary">
        <th scope="col"><a href="{{ asset('/manage/moles-rectiligne/fournisseur') }}" class="text-white">Fournisseur</a></th>
        <th scope="col">Réfèrenc</th>
        <th scope="col">Désignation TAV</th>
        <th scope="col">Grain</th>
        <th scope="col">Diamètre</th>
        <th scope="col">Hauteur</th>
        <th scope="col">Stock</th>
        <th scope="col">Non Livrées</th>
        <th scope="col"><a href="{{ asset('/manage/moles-rectiligne/machine') }}" class="text-white">Machine</a></th>
        <th scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
    {% for meule in meulesRecti %}
        <tr class="table-default">
            <th scope="row">{{ meule.fournisseur.name }}</th>
            <td>{{ meule.ref }}</td>
            <td>{{ meule.designationTav }}</td>
            <td>{{ meule.grain }}</td>
            <td>{{ meule.diametre }}</td>
            <td>{{ meule.hauteur }}</td>
            <td>{{ meule.stock }}</td>
            <td>{{ meule.nonlivres }}</td>
            
            {% if meule.position != null and meule.position.machine != null %}
                <td class="text-uppercase">{{ meule.position.machine.name }}</td>
            {% else %}
                <td>NULL</td>           
            {% endif %}
            
            {% if meule.position != null and meule.position.machine != null %}
            <td>{{ meule.position.name }}</td>
            {% else %}
            <td>NULL</td>           
            
            {% endif %}
        </tr>
        
    {% endfor %}
    </tbody>
</table>
{% endblock %}

