{% extends 'base.html.twig' %}

{% block title %}Gérér les utilisateurs{% endblock %}

{% block javascripts %}
    <script src="/js/change-password.js"></script>
{% endblock %}

{% block body %}

<div class="interligne"></div>
<h2 class="ml-3">Ajouter un utilisateur</h2>
<hr>
<div class="interligne"></div>

{{ form_start(newUserForm) }}
<div class="row mb-4 ml-2">
    <div class="col-2">{{ form_row(newUserForm.username) }}</div>
    <div class="col-2">{{ form_row(newUserForm.password) }}</div>
</div>
<div class="row mb-4 ml-2">
    <div class="col-4">{{ form_widget(newUserForm.roles, {'attr': {'class': 'd-flex justify-content-between'}} ) }}</div>
</div>
<button type="submit" class="btn btn-success ml-3">Enregistrer</button>
{{ form_end(newUserForm) }}

<hr>

<div class="row head-table pt-3 pb-3 text-center">
    <div class="col-2">Identifiant</div>
    <div class="col-2">Role</div>
    <div class="col-1">Modifier</div>
    <div class="col-1">Supprimer</div>
</div>

<div class="interligne border-bottom"></div>

{% for userId in usersTable %}

<div class="row pt-3 pb-3 text-center border-bottom">
    <div class="col-2">{{ userId['user'].username }}</div>

    {% if (userId['user'].roles[0] == "ROLE_USER") %}
    <div class="col-2">Opérateur</div>
    {% elseif (userId['user'].roles[0] == "ROLE_SUPER_USER") %}
    <div class="col-2">Encadrement</div>
    {% elseif (userId['user'].roles[0] == "ROLE_ADMIN") %}
    <div class="col-2">Administrateur</div>
    {% endif %}

    <div class="col-1">
        <a href="#" class="mr-4" data-toggle="modal" data-target="{{ "#modify-user" ~ userId['user'].id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </a>
    </div>
    <div class="col-1">
        <a href="{{ asset('/admin/delete/user/' ~ userId['user'].id) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25 " height="25" fill="" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </a>
    </div>

    <!--Modal for edit button - form for change quantity-->
    <div class="modal" id="{{ "modify-user" ~ userId['user'].id }}" tabindex="-1" aria-hidden="true" role="dialog">      
        <div class="modal-dialog" role="document">
            {% if is_granted('ROLE_ADMIN') %}

            {{ form_start(userId['userForm']) }}
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Modifier {{ userId['user'].username }} :</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body text-left edit-user">
                    {{ form_row(userId['userForm'].username) }}
                    {{ form_row(userId['userForm'].password, {'attr': {'class': 'password', 'hidden': 'hidden', 'value': userId['user'].password }}) }}
                    <button type="button" class="btn btn-outline-success mb-3 change-password">Réinitialiser le mot passe</button>
                    {{ form_row(userId['userForm'].roles) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            {{ form_end(userId['userForm']) }}

            {% else %}
            <div class="modal-content">
                
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="text-warning">Se connecter pour modifier les quantités</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!--End of Modal-->

</div>
{% endfor %}


{% endblock %}
