{% extends 'base.html.twig' %}

{% block title %}Gérer les meules de centre d'usinage{% endblock %}

{% block javascripts %}<script src="/js/ajax-list-typeMeuleCu.js"></script>{% endblock %}

{% block body %}

<div class="interligne"></div>
<h2 class="ml-4">Gérer les meules de centre d'usinage</h2>
<hr>
<div class="interligne"></div>

<!-- The form for add a new rectiligne in database -->
<div class="row ml-2">
    <div class="col-12">
        <h5 class="mb-3">Ajouter une meule :</h5>
    </div>
</div>

{{ form_start(form) }}
<div class="row mb-4 ml-2">
    <div class="col-2">{{ form_row(form.cu, {'attr': {'class': 'cu'}, 'placeholder': 'Cu' }) }}</div>
    <div class="col-2">{{ form_row(form.typeMeuleCu, {'attr': {'class': 'typeMeuleCu'}, 'placeholder': 'Type de meule' }) }}</div>
    <div class="col-2">{{ form_row(form.fournisseur, { 'placeholder': 'Fournisseur' }) }}</div>
    <div class="col-1">{{ form_row(form.ref) }}</div>
    <div class="col-1">{{ form_row(form.diametre) }}</div>
    <div class="col-1">{{ form_row(form.hauteur) }}</div>
    <div class="col-1">{{ form_row(form.grain) }}</div>
    <div class="col-1">{{ form_row(form.stock) }}</div>
</div>
<div class="row mb-4 ml-2">
    <div class="col-2"><button type="submit" class="btn btn-primary">Enregistrer</button></div>
</div>
{{ form_end(form) }}

    


{% endblock %}
